.profile {
  margin: 40px auto 0;
  display: flex;
  flex-direction: row;
  max-width: 880px;
  align-items: center;
}
.profile__avatar-picture {
  position: relative;
}
.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  cursor: pointer;
}
.profile__avatar:hover {
  opacity: 0.5;
}
.profile__avatar-edit {
  position: absolute;
  max-width: 26px;
  width: 100%;
  max-height: 26px;
  height: 100%;
  bottom: 47px;
  left: 47px;
  z-index: -1;
  cursor: pointer;
}
.profile__avatar-picture + .profile__avatar-edit {
  z-index: 1;
}

.profile-info {
  padding-left: 30px;
  max-width: 414px;
  max-height: 77px;
  display: flex;
  flex-direction: row;
  color: #fff;
  flex-wrap: wrap;
}
.profile-info__avatar_name {
  margin: 0;
  font-size: 42px;
  font-weight: 500;
  line-height: 56px;
  max-width: 373px;
  max-height: 43px;
  overflow: hidden;
}
.profile-info__avatar_ocupation {
  margin: 0;
  margin-top: 16px;
  font-size: 18px;
  font-weight: 400;
  line-height: auto;
  width: 372px;
  overflow: hidden;
}
.profile__edit-button {
  max-width: 24px;
  width: 100%;
  max-height: 24px;
  padding-left: 17px;
  align-items: center;
  cursor: pointer;
}
.profile__edit-button:hover {
  opacity: 0.5;
}
.profile__button-add {
  margin-left: 168px;
  cursor: pointer;
}
.profile__button-add:hover {
  opacity: 0.5;
}

@media screen and (max-width: 890px) {
  .header {
    margin: auto;
    max-width: 320px;
    padding-top: 28px;
  }
  .header__logo {
    max-width: 126px;
    max-height: 24px;
    padding-left: 27px;
  }
  .profile {
    max-width: 282px;
    flex-direction: column;
    position: relative;
  }
  .profile-info {
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 280px;
    padding: 0;
    justify-content: center;
  }
  .profile-info__avatar_name {
    display: flex;
    font-size: 22px;
    max-width: 280px;
    width: 100%;
  }
  .profile-info__avatar_ocupation {
    max-width: 280px;
    width: 100%;
    font-size: 14px;
    text-align: center;
  }
  .profile__edit-button {
    position: absolute;
    width: 18px;
    height: 18px;
    padding: 0;
    right: 10px;
    top: 140px;
  }
  .profile__button-add {
    padding: 0;
    padding-top: 36px;
    max-width: 280px;
    width: 100%;
    max-height: 50px;
    height: 100%;
    object-fit: fill;
    margin: auto;
  }
}
